<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sina.crowclub">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!--小米帐号-->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".MApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- ***************************************** -->
        <!-- Activity -->
        <!-- ***************************************** -->
        <activity android:name=".MainActivity">
           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity android:name=".view.activity.UserStoryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.MessageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.UserSeriesActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.StarActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".view.activity.RefreshRecyclerActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.AlbumActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.TestActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.SelfListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.LoadDragActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.AlbumDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.CacheActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.FragmentHandleActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.NewsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.WebViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.MapJsonActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.UserActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.FeedbackActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.QAActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.LoadActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.DBActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.PageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.TestForWebviewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.GuideActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.LaunchModeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.launchMode.StandardAActivity"
            android:launchMode="standard"/>
        <activity android:name=".view.activity.launchMode.StandardBActivity"
            android:launchMode="standard"/>
        <activity android:name=".view.activity.launchMode.SingleInstanceAActivity"
            android:launchMode="standard"/>
        <activity android:name=".view.activity.launchMode.SingleInstanceBActivity"
            android:launchMode="singleInstance"/>
        <activity android:name=".view.activity.launchMode.SingleInstanceCActivity"
            android:launchMode="standard"/>
        <!-- 处理的是glide图片处理 -->
        <meta-data android:name="com.sina.crowclub.utils.CustomCachingGlideModule"
             android:value="GlideModule"/>
        <!-- ***************************************** -->
        <!-- Service -->
        <!-- ***************************************** -->
        <service android:name=".view.service.CommonService"/>
    </application>

</manifest>